## 1) Data Types

> Python is dynamically typed: the variable’s type is decided at runtime.

- whole numbers: `-2, 0, 42`
- decimals: `3.14, -0.001`
- `True` or `False`
- text: `'hello'`, `"abc"`
- No separate ``: a “character” is just a `str` of length 1, e.g., `'A'`.
- No separate ``**/**``: `float` is double‑precision; `int` grows automatically (no fixed 32/64‑bit limit in practice).

In [1]:
x = 10            # int
pi = 3.14159      # float
ok = True         # bool
letter = 'A'      # str of length 1 (no char type)
module = "ICT133" # str
dict = {"a": 1, "b": 2} # dictionary
list = [1, 2, 3]  # list
tuple = (1, 2, 3) # tuple
set = {1, 2, 3}   # set

**Check a type:**

Use `type()`

In [2]:
print(type(letter))  # <class 'int'>

# Try printing the type of the other variables

<class 'str'>

---

## 2) Variables & Assignment

> Variables are names given to a piece of data<br>
> You can assign a value to the variable

### Basic assignment:

In [3]:
score = 95
name = "Ada"

print("score:", type(score))
print("name:", type(name))

score: <class 'int'>
name: <class 'str'>

### Simultaneous assignment:

In [4]:
x, y = 1, "one"

print("x: ", x,type(x))
print("y: ", y,type(y))

x:  1 <class 'int'>
y:  one <class 'str'>

### Swapping values:

In [5]:
x, y = y, x

print("x: ", x,type(x))
print("y: ", y,type(y))

x:  one <class 'str'>
y:  1 <class 'int'>

### Type conversion (AKA Type Casting):

In [6]:
age_str = input("Enter age: ")    # input() returns a string

print("raw input age:", age_str, type(age_str))

raw input age: 5 <class 'str'>

In [7]:
age = int(age_str)    # convert to int
age_float = float(age_str)     # to float
age_bool = bool(age_str)       # True for non-zero

print("age:", age, type(age))
print("age_float:", age_float, type(age_float))
print("age_bool:", age_bool, type(age_bool))

age: 5 <class 'int'>
age_float: 5.0 <class 'float'>
age_bool: True <class 'bool'>

### Use case for casting:

In [8]:
age_str = "21"                          # string
str_addition = age_str + "5"            # adding strings (concatenation)
print("str addition:", str_addition)    # "215"
age = int(age_str) + 5                  # convert to int, then addition
print("age:", age)                      # 26

str addition: 215
age: 26

---

## 3) Arithmetic Operators

| Operator | Description |
|:---------:|-------------|
| `+`       | **Addition** |
| `-`       | **Subtraction** |
| `*`       | **Multiplication** |
| `**`      | **Exponent** (power) |
| `/`       | **True division** (result is always float) |
| `%`       | **Modulus** (returns the remainder) |
| `//`      | **Floor division** (drops the remainders) |

In [9]:
one = 7 + 3       # 10 (addition)
two = 7 - 3       # 4 (subtraction)
three = 7 * 3     # 21 (multiplication)
four = 2 ** 5    # 32 (exponent, 2 to the power of 5)
five = 7 / 2      # 3.5 (true division)
six = 7 % 3      # 1 (modulus)
seven = 7 // 2      # 2 (floor division, drops the fractional part)


print("1. ", one)   # 10 (addition)
print("2. ", two)   # 4  (subtraction)
print("3. ", three)   # 21 (multiplication)
print("4. ", four)   # 32 (exponent, 2 to the power of 5)
print("5. ", five)   # 3.5 (true division, result is float)
print("6. ", six)  # 1 (modulus, remainder of 7/3)
print("7. ", seven)  # 2 (floor division, drops the fractional part)

1.  10
2.  4
3.  21
4.  32
5.  3.5
6.  1
7.  3